*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.sidd .owl-prev,.sidd .owl-next{
    position: absolute;
    top: 50%;
    font-size: 20px;
    font-weight: 800;
    background-color: #111115 !important;
    color: #fff !important;
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
}
.sidd .owl-prev{
    left: 0;
}
.sidd .owl-next{
    right: 0;
}
.sidd .owl-prev:hover,.sidd .owl-next:hover{
    color: red !important;
    background-color: turquoise !important;
}
.sidd-1 .owl-prev,.sidd-1 .owl-next{
    position: absolute;
    top: 50%;
    font-size: 20px;
    font-weight: 800;
    background-color: #111115 !important;
    color: #fff !important;
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
}
.sidd-1 .owl-prev{
    left: 0;
}
.sidd-1 .owl-next{
    right: 0;
}
.sidd-1 .owl-prev:hover,.sidd-1 .owl-next:hover{
    color: skyblue !important;
    background-color: transparent black !important;
}
.sidd-3 .owl-prev,.sidd-3 .owl-next{
    position: absolute;
    top: 50%;
    font-size: 20px;
    font-weight: 800;
    background-color: transparent !important;
    color: tra !important;
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
}
.sidd-3 .owl-prev{
    left: 0;
}
.sidd-3 .owl-next{
    right: 0;
}
.sidd-3 .owl-prev:hover,.sidd-3 .owl-next:hover{
    color: #000 !important;
    background-color: #fff !important;
}

.first{
    height: 200px;
    background-color: darkslategrey;  
}
.first h1{
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
    position: relative;
    top: 25%;
    left: 20%;
}
.first button{
    background-color:#fff;
    border: 1px silver solid;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    position: relative;
    top: 30%;
    left: 30%;
}
.shooe{ 
    display: flex;
    height: 200px;
}
.content{
width: 50%;
}
.content h4{
    margin-top: 20px;
    margin-left: 5px;
}
.content h1{
    font-size: 25px;
    margin-left: 5px;
}
.content button{
    margin-top: 20px;
    margin-left: 15px;
    background-color: #000;
    color: #fff;
    padding: 2px;
}
.boot{
    width: 50%;
}
.boot img{
    width: 100%;  
}
.shopping{
    display: flex;
    height: 200px;
}
.content-1{
    width: 50%;
    text-align: center;
}
.content-1 h1{
    font-size: 13px;
    text-transform: capitalize;
    margin-top: 20px;
}
.content-1 p{
    font-size: 15px;
}
.teddy{
    width: 50%;
}
.teddy img{
    width: 100%;
    height: 150px;
}
.sale{
    background-color: #000;
    color: #fff;
width: 100%;
height: 200px;

}
.sale img{
    width: 300px;
}
.on{
    margin-left: 190px;
}
.mobile{
    display: flex;
    height: 200px;
}
.content-2{
    width: 50%;
}
.content-2 h1{
    font-size: 15px;
    margin-top: 30px;
}
.content-2 p{
    font-size: 10px;
    margin-left: 10px;   
}
.phone{
    width: 50%;
}
.phone img{
    width: 100%;
    height: 180px;
}
.shiping{
    background-color: aquamarine;
    padding: 50px 0px;
    text-align: center;
}
.product-1{
    text-align: center;
}
.heading{
    font-size: 20px;  
}
.product{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
}
.product img{
    width: 100px;
    height: 100px;
    border-radius: 40%; 
}
.product i{
    color:blueviolet;
}
.side-1{
    margin-top: 30px;
    margin-left: 20px;
}
.line{
    text-decoration: line-through;
}
.letest img{
    width: 250px;
    height: 300px;
}
.tweet{
    text-align: center;
    background-color: #e1e1e1;
    padding: 80px 40px;
}
.tweet-heading{
    padding-bottom: 60px;
    margin-top: -20px;
    text-decoration: underline;
    font-size: 25px;
}
.tweet-content{
    margin-top: 60px;
    font-size: 30px;
}
.tweet-content a{
    margin-top: 10px;
    font-size: 20px;
}
.bottom{ 
    background-color: #252525;
    color: #fff;
}
.date{
    padding:40px 20px ;
    text-align: center;
}
.date p{
    margin-top: 40px;
    text-align: left;
    padding-bottom: 40px;  
}
.date h4{
    text-transform: capitalize;
    margin-top: 20px;
}
.date-1 h4{
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.date-1 p{
    margin: 15px;
    border-bottom:1px solid #fff ;
}
.date-2 h4{
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.date-2 p{
    margin: 15px;
    border-bottom:1px solid #fff ;
}
 .date-3 h3{
    font-size: 20px;
    padding: 20px 0px;
    text-align: center;
}
.date-3 a{   
    display: inline-block;
    margin: 0px 20px;
    font-size: 20px;
}
.date-3 span,input{
    position: relative;
    top: 20%;
    left: 30%;
    right: 30%;
    margin-top: 5% !important;
} 
.article{
text-align: center;
}
.nav{
    display: none;
    list-style-type: none;
}
.icons{
    display: flex;
    margin-left: 40%;
    list-style-type:none ;
}
.icons li{
    margin: 5px;
}
.navbar{
    display: flex;
}
.top{
    background-color: #000;
    color: #fff;
}

@media only screen and (min-width:768px){
    .first{
        height: 300px;
    }
    .first h1, a {
        font-size: 30px;
    }
    .first  h1{
        position: relative;
        left: 30%;
        top: 30%;
    }
    .first  button{
        position: relative;
        left: 40%;
    }
    .shooe{
        height: 300px;
    }
    .shopping{
        height: 300px;
    }
    .teddy img{
        height: 100%;
    }
    .content-1 h1,p{
        font-size: 30px;
    }
    .sale img{
        width: 80%;
        height: 70%;
    }
    .phone img{
        height: 100%;
    }
    .content-2 h1{
        font-size: 30px;
    }
    .content-2 p{
        font-size: 15px;
    }
    .sale{
        height: 300px;
    }
    .mobile{
        height: 300px;
    }
    .product-3{
        display: flex;
    }
    .sidd-1{
        margin-top: -30px !important;
    }
   .bottom{
    display:flex;
    justify-content: space-evenly;
   }
   .date a{
    padding: 10px;
   }
   .date{
    width: 20%;
   }
   .date h3{
    margin-top: -30px;
    text-align: left;
    font-size: 15px;
   }
   .date h4{
    text-align: left;
    font-size: 20px;
   }
   .date-1{
    width: 30%;
   }
   .date-1 p{
    font-size: 15px;
   }
   .date-2{
    width: 25%;
   }
   .date-2 p{
    font-size: 15px;
   }
   .date-3{
    width: 25%;
   }
   .date h3,h4{
    font-size: 20px;
   }
    .date p{
        font-size: 13px;
    }
    .date-1 h4{
        text-align: left;
    }
    
    .date-3 a{   
        margin: 0px 10px;
        font-size: 20px;
    }
    .date-3 span{
        margin-left: -80px;
    }
    .date-3 input{
        margin-left: -40px;
    }
    .icons{
        
        margin-left: 70%;
    }
    .icons li{
        margin: 10px;
    }
    .navbar span{
        margin: 2px;
    }
    .heading{
        margin-left: 100px;
    }
}

@media only screen and (min-width:992px){
    .first{
        height: 400px;
    }
    .first h1, a {
        font-size: 30px;
        padding-top: 50px;
    }
    .first  h1{
        position: relative;
        left: 30%;
        top: 10%;
    }
    .first  button{
        position: relative;
        left: 38%;
        top: 20%;
    }
    .shooe{
        height: 400px;
    }
    .shooe h4, h1, button{
        padding-top: 40px;
        margin-left: 50px;
    }
    .shopping{
        height: 400px;
    }
    .teddy img{
        height: 100%;
    }
    .content-1 h1,p{
        font-size: 30px;
    }
    .sale img{
        width: 80%;
        height: 70%;
    }
    .phone img{
        height: 100%;
    }
    .content-2 h1, p{
        font-size: 30px;
    }
    .sale{
        height: 400px;
    }
    .mobile{
        height: 400px;
    }
    .product-3{
        text-align: center;   
    }
    .product-1{
        width:100%;
    }
    .nav{
        display: contents;
    }
    .nav li{
        margin: 10px;
    }
    .icons{
        margin-left: 20%;
    }
    .navbar span{
        margin: 10px;
    }
    .date h1{
        font-size: 20px;
        margin-left: -10px;
    }
    .heading{
        margin-left: -50px;
    } 
    .date-2 h4{
        text-align: left;
    }
    .date-3 a{
        margin-top: -10%;
    }
    .date-3 span{
        margin-left: -240px;
    }
    .date-3 input{
        margin-left: -20px;
    }
}

@media only screen and (min-width:1346px){
    .first  h1{
        position: relative;
        left: 35%;
    }
    .first  button{
        position: relative;
        left: 42%;
    }
    .icons{
        margin-left: 40%;
    }
    .date-3 h3{
        text-align: left;
        margin-left: 10px;
    }  
    .date-3 span{

       margin-left: -90%;
    }
    .date-3 input{
        padding: 5px;
        margin-left: -70px;
        font-size: 20p;
    }
    .heading{
        margin-left: -100px;
    }
}